
  * {
    scrollbar-width: auto;
    scrollbar-color: #2f2c30 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 55px; 
}
  *::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

  *::-webkit-scrollbar-thumb {
    background-color: #2f2c30;
    border-radius: 10px;
 
  }

.App {
  display: flex;
  justify-content: center;
  background-color: rgb(228, 227, 227);
  height: 100vh;
}

.mainContainer {
  margin-top: 100px;
  border-radius: 10px;
  width: 70%;
  height: 750px;
  overflow-y: auto;
  background-color: #f0f0f0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.studentContainer {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  }

.studentFullName {
  font-weight: 600;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}

.studentFirstName {
  margin-left: 20px;
}

.studentInfos  {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight:300 ;
  line-height: 32px;
}

.studentItemsInfos {
  margin-left: 30px;
  margin-top: 10px;
}

.studentPic{
 margin-left: 10px;
 border: 1px solid rgb(156, 155, 155);
 border-radius: 100px;
 object-fit: cover;
 width: 150px;
 height: 150px;
}

.search {
  border: none;
  border-radius: 10px;
  width: 69.25%;
  height: 50px;
  font-size: 30px;
  position: fixed;
  background-color: #f0f0f0;
}

.search:focus {
  outline: none;
  
}

hr {
  margin-top: 60px;
}

.extendInfos {
  margin-right: 50px;
}

.extendInfos {
  color: #585658;
 size: 50px;
 cursor: pointer;
}

.studentGrades {
  margin-top: 20px;
}
